.newsletter{
    // width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: auto;
    margin: 50px 40px 30px 40px ;
    padding: 50px  120px 50px 120px;
    // margin-bottom: 100px;
    background-image: linear-gradient( #F85606, white);
    gap:30px;
    border-radius: 20px;

    h1{
        padding-top: 20px;
        color: rgb(47, 44, 44);
        font-size: 55px;
        font-weight: 600;
    }
    p{
        font-size: 20px;
        color: rgb(47, 47, 47);
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 730px;
        height: 70px;
        border-radius: 80px;
        border: 1px solid #e3e3e3;
        input{
            width: 500px;
            margin-left: 30px;
            border: none;
            outline: none;
            color: #616161;
            font-family: "Roboto";
            font-size: 16px;
            }
            button{
                width: 210px;
                height: 70px;
                border-radius: 80px;
                background-color: black;
                color: white;
                font-size: 16px;
                cursor: pointer;
            }
    }
}    
       
